:root {
  --main-color: #111111;
  --second-text: #766f6f;
  --accent-color: #266294;
}
body {
  font-family: 'Play', sans-serif;
  background-color: #ebf8ff;
  color: var(--main-color);
  margin: 0 auto;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

.container {
  text-align: center;
  width: 390px;
  margin: 0 auto;
  padding: 0 15px;
  outline: 2px solid tomato;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

.btn {
  cursor: pointer;
  color: #f8f7f7;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0em;
  background-color: transparent;
  border: 3px solid var(--accent-color);
  padding: 12px 28px;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
}

.hotel-image {
  margin-bottom: 24px;
  width: 413px;
  height: 300px;
}
.header,
.footer {
  background-color: #cfe7f5;
}

.header-icon {
  fill: #266294;
}

.soc-icons {
  stroke: var(--accent-color);
  fill: transparent;
}
.header-link:hover,
.header-link:focus {
  color: white;
}

.header-icon:hover,
.header-icon:focus {
  fill: white;
}

/* HEADER */

.header > .container {
  max-width: 390px;
  width: 100%;
}

.header-link {
  color: var(--accent-color);
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0em;
  font-weight: 700;
}

.header {
  padding-top: 12px;
  padding-bottom: 12px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-list {
  display: none;
}

.header-button {
  min-width: 139px;
  margin-left: auto;
}
/* 





.header-button {
  min-width: 209px;
  margin-left: auto;
} */

/* MAIN */
/* .hero {
  padding-top: 100px;
  padding-bottom: 533px;
  background-color: gray;
  background-image: url(../images/hero-desctope-2x.jpg);
  background-size: cover;
}
.hero-title {
  margin-bottom: 100px;
  font-family: Impact;
  font-size: 80px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0em;
  color: var(--accent-color);
  text-transform: uppercase;
}
.button-container {
  display: flex;
  justify-content: space-evenly;
}
.hero-button {
  min-width: 280px;
} */
/* Ads */
/* .position {
  margin-top: 32px;
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.ad-criteria {
  padding-top: 32px;
  padding-bottom: 46px;
}
.ad-criteria-title {
  margin-bottom: 32px;
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0em;
}

.ad-criteria-text {
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0em;
}

.ad-criteria-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 36px;
}

.ad-criteria-item {
  flex-basis: calc((100% - 24px) / 2);
}
.ad-criteria-image {
  margin-bottom: 28px;
} */

/* all ads */
/* .all-ads {
  padding-top: 32px;
  padding-bottom: 48px;
}
.france-main-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0em;
}
.all-ads-button {
  color: var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
}

.all-ads-button:hover,
.all-ads-button:focus {
  color: white;
}
.country-title {
  font-family: Play;
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0em;
  display: inline-block;
}
.country-title-button {
  display: flex;
  align-items: center;
}

.hotel-name,
.hotel-quantity {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0em;
}

.ad-list {
  display: flex;
  column-gap: 20px;
  row-gap: 32px;
}
.ad-item {
  flex-basis: calc((100% - 40px) / 3);
} */

/*ANNOUCEMENTS */
/* .announcements {
  padding-top: 32px;
  padding-bottom: 120px;
}
.announcements-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0em;
}

.hotel-location {
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0em;
  color: var(--second-text);
}

.hotel-rating {
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0em;
  color: var(--accent-color);
}

.announcements-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 50px;
}

.announcements-item {
  flex-basis: calc((100% - 40px) / 3);
}
.card-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
} */
/* FOOTER */
/* 
.footer {
  padding-top: 32px;
  padding-bottom: 93px;
}
.footer-list {
  display: flex;
  gap: 64px;
  justify-content: flex-end;
}

.footer-social-media {
  margin-top: 35px;
  display: flex;
  gap: 28px;
  justify-content: flex-end;
}
.footer-item {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0em;
  color: var(--accent-color);
}

.copyright {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0em;
  color: var(--accent-color);
} */

/* SECOND PAGE */

/* .economy-title {
  margin-bottom: 32px;
  font-size: 32px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0em;
}

.more-ads-button {
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0em;
  border: 2px solid #766f6f;
  background-color: transparent;
  color: #b0a2a2;
}

.more-ads-button:hover,
.more-ads-button:focus {
  background-color: b0a2a2;
  color: white;
}

.economy-list {
  display: flex;
}
.economy-item {
  flex-basis: calc((100% - 40px) / 3);
}
.spec-offer-list {
  display: flex;
}

.popular-list {
  display: flex;
}

.header-icon {
  fill: #266294;
}

.soc-icons {
  stroke: var(--accent-color);
  fill: transparent;
} */
