:root {
  --main-color: #111111;
  --second-text: #766f6f;
  --accent-color: #266294;
}
body {
  font-family: 'Play', sans-serif;
  background-color: #ebf8ff;
  color: var(--main-color);
  margin: 0 auto;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

.container {
  text-align: center;
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  outline: 2px solid tomato;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

.btn {
  cursor: pointer;
  color: #f8f7f7;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0em;
  background-color: transparent;
  border: 3px solid var(--accent-color);
  padding: 12px 28px;
  display: inline-block;
  text-align: center;
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
}

.hotel-image {
  margin-bottom: 24px;
  width: 413px;
  height: 300px;
}
/* HEADER */
.header,
.footer {
  background-color: #cfe7f5;
}

.header {
  padding-top: 12px;
  padding-bottom: 12px;
}
.header-list {
  display: flex;
  gap: 60px;
}
.header-link {
  color: var(--accent-color);
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0em;
  font-weight: 700;
}

.header-button {
  min-width: 209px;
}

/* MAIN */
.hero {
  padding-top: 100px;
  padding-bottom: 533px;
  background-image: url(../images/hero-desctope-2x.jpg);
}
.hero-title {
  margin-bottom: 100px;
  font-family: Impact;
  font-size: 80px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0em;
  color: var(--accent-color);
}
.hero-button {
  min-width: 280px;
}
/* Ads */

.ad-list {
  display: flex;
}
.ad-criteria {
  padding-top: 32px;
  padding-bottom: 46px;
}
.ad-criteria-title {
  margin-bottom: 32px;
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0em;
}

.ad-criteria-text {
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0em;
}

.ad-criteria-list {
  display: flex;
}

.ad-criteria-image {
  margin-bottom: 28px;
}

/* all ads */
.all-ads {
  padding-top: 32px;
  padding-bottom: 92px;
}
.france-main-title {
  margin-bottom: 56px;
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0em;
}

.country-title {
  margin-bottom: 24px;
  font-family: Play;
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0em;
}

.hotel-name,
.hotel-quantity {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0em;
}
.hotel-name {
  margin-bottom: 8px;
}
/*ANNOUCEMENTS */
.announcements {
  padding-top: 32px;
  padding-bottom: 120px;
}
.announcements-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0em;
}

.hotel-location {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0em;
  color: var(--second-text);
}

.hotel-rating {
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0em;
  color: var(--accent-color);
}

.announcements-list {
  display: flex;
}
/* FOOTER */

.footer-item {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0em;
  color: var(--accent-color);
}

.copyright {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0em;
  color: var(--accent-color);
}

/* SECOND PAGE */

.economy-title {
  margin-bottom: 32px;
  font-size: 32px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0em;
}

.more-ads-button {
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0em;
  border: 2px solid #766f6f;
  background-color: transparent;
  color: #b0a2a2;
}

.more-ads-button:hover,
.more-ads-button:focus {
  background-color: b0a2a2;
  color: white;
}

.economy-list {
  display: flex;
}

.spec-offer-list {
  display: flex;
}

.popular-list {
  display: flex;
}
