body {
  font-family: 'Play', sans-serif;
  color: (--main-color);
}

:root {
  --main-color: rgba(17, 17, 17, 1);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  text-align: center;
  max-width: 318px;
  margin: 0 auto;
  padding: 0 15px;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

/* first page */
.header {
}
.header-section {
}
.header-list {
}
.header-item {
}
.header-link {
}
.header-button {
}
.main {
}
.hero {
}
.hero-title {
}
.hero-button {
}
.ad-criteria {
}
.ad-criteria-title {
}
.ad-criteria-list {
}
.ad-criteria-item {
}
.ad-criteria-image {
}
.ad-criteria-text {
}
.france {
}
.france-title {
}
.france-list {
}
.france-item {
}
.france-image {
}
.france-hotel-name {
}
.france-hotel-quantity {
}
.italy {
}
.italy-title {
}
.italy-button {
}
.italy-list {
}
.italy-item {
}
.italy-image {
}
.italy-hotel-name {
}
.italy-hotel-quantity {
}
.spain {
}
.spain-list {
}
.spain-title {
}
.spain-button {
}
.spain-image {
}
.spain-hotel-name {
}
.spain-hotel-quantity {
}
.announcements {
}
.announcements-title {
}
.announcements-button {
}
.announcements-list {
}
.announcements-image {
}
.announcements-hotel-name {
}
.announcements-hotel-location {
}
.announcements-hotel-rating {
}
.announcements- {
}
.footer {
}
.footer-list {
}
.footer-item {
}
.footer-social-media {
}
.footer-soc-media-list {
}
.footer-soc-media-link {
}
