@media screen and (min-width: 768px) and (max-width: 1200px) {
  .container {
    width: 834px;
  }

  .header > .container {
    max-width: 834px;
    width: 100%;
  }

  .header {
    padding-top: 14px;
    padding-bottom: 12px;
  }
  .header-container {
    display: flex;
    align-items: center;
  }

  .header-list {
    margin-left: 38px;
    display: flex;
    gap: 20px;
  }
  .header-button {
    min-width: 170px;
    margin-left: auto;
  }

  /* hero */

  .hero > .container {
    max-width: 608px;
    width: 100%;
  }

  .hero {
    padding-top: 100px;
    padding-bottom: 656px;
    background-image: url(../images/hero-tablet-2x.jpg);
    background-size: cover;
  }

  .hero-title {
    margin-bottom: 40px;

    font-size: 72px;
    font-weight: 400;
    line-height: 1;
  }
  .hero-button {
    min-width: 261px;
  }

  .button-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  /* ad-criterias */

  .ad-criteria > .container {
    max-width: 770px;
    width: 100%;
  }
  .img-hidden {
    display: block;
  }
  .ad-criteria {
    padding-top: 48px;
    padding-bottom: 32px;
  }

  .ad-criteria-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
  }

  .ad-criteria-item {
    flex-basis: calc((100% - 20px) / 2);
  }

  /* all ads */
  .all-ads > .container {
    max-width: 770px;
    width: 100%;
  }

  .all-ads {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .all-ads-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 1;
  }

  .hotel-location {
    line-height: 1;
    letter-spacing: 0em;
  }

  .ad-list {
    display: flex;
    column-gap: 20px;
    row-gap: 32px;
  }
  .ad-item {
    flex-basis: calc((100% - 20px) / 2);
  }

  .list-hidden {
    display: none;
  }

  .all-ads-button {
    line-height: 1;
  }

  .position {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
}
